<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      <li>
      Your user registration contains <%= pluralize(@user.errors.count, 'error') %>.
      </li>
      <br>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>