<% provide(:title, 'Home') %>

<%= render 'shared/header' %>

<%= render 'shared/top_nav' %>

<div class="slide-box">
</div>


<div class="recommended-products">
  <%= @products.sample.name %>
</div>

